<%- include('./base/header.ejs') %>
<style>
    .table-container {
        width: 80%;
        margin-left: 20%;
        position: fixed;
        top: 56px;
        max-height: 540px; /* Set the maximum height of the table container */
        overflow-y: auto; /* Enable vertical scrolling */
        border: 1px solid #ced4da; /* Optional: Add a border to the container */
        border-radius: 5px; /* Optional: Add rounded corners */
        background-color: #fff; /* Optional: Set a background color */
    }

    .button1 {
        width: 80px; /* Adjust the width as needed */
        margin-right: 10%; /* Adjust margin as needed */
    }

    .table {
        margin-bottom: 0; /* Remove margin-bottom to eliminate space when scrolling */
    }
</style>
<%- include('./base/sideBar.ejs') %>

<div style="top: 60px; right: 10px;" class="table-container">
    <table  class="table text-center">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Publisher</th>
                <th>Price</th>
                <th>Language</th>
                <th>Edition</th>
                <th>No Of Pages</th>
                <th>ISBN</th>
                <th>Country</th>
                <th style="padding-left: 7%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach((book) => { %>
                <tr>
                    <td><%= book.bookTitle %></td>
                    <td><%= book.publisher %></td>
                    <td><%= book.price %></td>
                    <td><%= book.language %></td>
                    <td><%= book.edition %></td>
                    <td><%= book.noOfPages %></td>
                    <td><%= book.isbn %></td>
                    <td><%= book.country %></td>
                    <td><a href="/book/update/page/<%= book._id %>" class="btn btn-warning button1">Edit</a></td>
                    <td><a href="/book/delete/<%= book._id %>" class="btn btn-danger button1">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('./base/footer.ejs') %>
